# 182. Duplicate Emails

## Objective

Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.
 

Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Person table:
+----+---------+
| id | email   |
+----+---------+
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
+----+---------+
Output: 
+---------+
| Email   |
+---------+
| a@b.com |
+---------+
Explanation: a@b.com is repeated two times.

# Final Solution

In [27]:
import pandas as pd

def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    df = person[['email']]
    dup_values = df[df.duplicated(['email'])]

    #uppercases column name
    dup_values.columns = dup_values.columns.str.title()

    #removes and only shows unique duplcated values due to added test case in leetcode problem
    dup_values_final = dup_values.drop_duplicates()
    return dup_values_final

# Process

We want to select just column email since that is all that needs to be checked in the question
Then check if duplicates exist and save those values to print

# Testing

In [1]:
import pandas as pd
data = {'col1': [1, 2, 3], 'col2': ['a@b.com', 'c@d.com', 'a@b.com']}
df = pd.DataFrame(data)

In [3]:
df

   col1     col2
0     1  a@b.com
1     2  c@d.com
2     3  a@b.com

In [5]:
df1 = df[['col2']]

In [7]:
df1

      col2
0  a@b.com
1  c@d.com
2  a@b.com

In [9]:
#select true values
df2 = df1[df1.duplicated(['col2'])]

In [11]:
df2

      col2
2  a@b.com

In [13]:
df2.columns = df2.columns.str.title()

In [15]:
df2

      Col2
2  a@b.com